

<div class="paginator">
  <nav aria-label="Page navigation example">
    <ul class="pagination pg-blue justify-content-center">
      <li class="page-item ">
        {% if page.has_previous %}
        <a href="?page={{page.previous_page_number}}" class="page-link" tabindex="-1">Previous</a>
        {% endif %}
      </li>

      {% for i in posts.paginator.page_range %}
        {% if posts.number == i %}
          <li class="page-item active"><a class="page-link">{{i}} </a></li>
          {% else %}
          <li class="page-item "><a href="?page={{ i }}" class="page-link"> {{i}}</a> </li>
          {% endif %}
      {% endfor %}
      <li class="page-item ">
        {% if page.has_next %}
        <a href="?page={{ page.next_page_number }}" class="page-link">Next</a>
        {% endif %}
      </li>
    </ul>
  </nav>
</div>
    
<!---------------------------------------------------------------->
